// Primary colors
$magenta: #ff6c85;
$highlightColor: #7865ce;
$secondaryHighlight: #868686;
$blue: #29c9d6;
$blue29: #29abef;
$yellow: #ffff00;

$paleYellow: #ffff4e;

// Shades of Gray
$lightestGray: #f7f7f7;
$lightGray: #f2f2f2;
$mediumLightGray: #cccccc;
$mediumGray: #b3b3b3;
$gray: #999999;
$darkGray: #808080;
$darkerGray: #333333;
$darkestGray: #1a1a1a;

$pureBlack: #000000;
$pureWhite: #ffffff;

$transparentWhite: #ffffff00;

// FONTS
$font1: "Noe Display Bold", serif;
$font2: "Calibre", sans-serif;
